django>=1.11,<1.12
psycopg2>=2.7,<2.8
requests>=2,<3
djangorestframework>=3.7,<3.8
django-filter>=1.0,<1.1
django-reversion>=2.0,<2.1
django-cors-headers>=2.1,<2.2
nose
django_nose
django-extensions
flake8
ipython
