django>=1.11,<1.12
psycopg2>=2.7,<2.8
requests>=2,<3
djangorestframework>=3.8,<3.9
django-filter>=2.0,<2.1
django-reversion>=3.0,<3.1
django-cors-headers>=2.4,<2.5
nose
django_nose
django-extensions
flake8
ipython
gunicorn[gevent]==19.9.0
mixer==6.1.3
