django>=1.10,<1.11
psycopg2>=2.7,<2.8
requests>=2.17,<2.18
djangorestframework>=3.6,<3.7
django-filter>=1.0,<1.1
django-reversion>=2.0,<2.1
django-cors-headers>=2.0,<2.1
nose
django_nose
django-extensions
flake8
ipython
