{% extends 'hardware/index.html' %}
{% block title %}Optical Element Groups{% endblock %}
{% block content %}
<h1 class="page-header">Optical Element Groups</h1>
<div class="table">
  <table class="table table-striped" id="optical-element-groups">
    <thead>
      <tr>
      <th>Id</th>
      <th>Optical Element Group</th>
      <th>Default Element</th>
      <th>Element Change Overhead</th>
      </tr>
    </thead>
    <tbody>
    {% for optical_element_group in object_list %}
      <tr>
        <td><a href="{% url 'opticalelementgroup-detail' pk=optical_element_group.pk %}">{{ optical_element_group.id }}</a></td>
        <td>{{ optical_element_group }}</td>
        <td>{{ optical_element_group.default }}</td>
        <td>{{ optical_element_group.element_change_overhead }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#optical-element-groups').DataTable()
  })
</script>
{% endblock %}
