{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>LCOGT ConfigDB3 | {% block title %}Overview{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt="logo" style="height: 120%"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">ConfigDB3</a></li>
              <li><a href="{% url 'html-site-list' %}">Sites</a></li>
              <li><a href="{% url 'html-telescope-list' %}">Telescopes</a></li>
              <li><a href="{% url 'html-camera-list' %}">Cameras</a>
              </li>
              <li><a href="{% url 'html-filterwheel-list' %}">Filter Wheels</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-11 main">
            {% block content %}
            <h1 class="page-header">Overview</h1>
            <div class="row placeholders">
              <div class="col-xs-6 col-sm-3 placeholder">
                <h2><a href="{% url 'html-site-list' %}">{{ site_count }}</a></h2>
                <span class="text-muted"><h4>Sites</h4></span>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <h2><a href="{% url 'html-telescope-list' %}">{{ telescope_count }}</a></h2>
                <span class="text-muted"><h4>Telescopes</h4></span>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <h2><a href="{% url 'html-camera-list' %}">{{ camera_count }}</a></h2>
                <span class="text-muted"><h4>Cameras</h4></span>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <h2><a href="{% url 'html-filterwheel-list' %}">{{ filterwheel_count }}</a></h2>
                <span class="text-muted"><h4>Filterwheels</h4></span>
              </div>
            </div>
            <div class="row">
              <center><a href="{% url 'camera-mappings' %}" class="btn btn-primary btn-lg" title="camera mappings">Camera Mappings File</a></center>

            <h2>API</h2>
            <p>
              Configdb3 provides a RESTful api to query data. The data will be returned in JSON format unless accessed via browser, in which
              case a user friendly interface will be provided.
            </p>
            <p>
           The top level resource are:
            </p>
            <ul>
              <li>
                Sites: <a href="{% url 'site-list' %}">{% url 'site-list' %}</a>
              </li>
              <li>
                Enclosures: <a href="{% url 'enclosure-list' %}">{% url 'enclosure-list' %}</a>
              </li>
              <li>
                Telescopes: <a href="{% url 'telescope-list' %}">{% url 'telescope-list' %}</a>
              </li>
              <li>
                Instruments: <a href="{% url 'instrument-list' %}">{% url 'instrument-list' %}</a>
              </li>
              <li>
                Cameras: <a href="{% url 'camera-list' %}">{% url 'camera-list' %}</a>
              </li>
              <li>
                Modes: <a href="{% url 'mode-list' %}">{% url 'mode-list' %}</a>
              </li>
              <li>
                Filter Wheels: <a href="{% url 'filterwheel-list' %}">{% url 'filterwheel-list' %}</a>
              </li>
            </ul>
            <p>Individual resources can be accessed by id:</p>
            <ul>
              <li>Maui: <a href="{% url 'site-detail' pk=7 %}">{% url 'site-detail' pk=7 %}</a></li>
              <li>kb34: <a href="{% url 'camera-detail' pk=134 %}">{% url 'camera-detail' pk=134 %}</a></li>
            </ul>
            <p>Resources can also be filtered by properties:</p>
            <ul>
              <li>Site(s) with code ogg: <a href="{% url 'site-list' %}?code=ogg">{% url 'site-list' %}?code=ogg</a></li>
              <li>1 meter telescopes: <a href="{% url 'telescope-list' %}?code=1m0a">{% url 'telescope-list' %}?code=1m0a</a></li>
            {% endblock %}
          </div>
        </div>
      </div>
        <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/datatables.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block extra_javascript %}{% endblock %}
    </body>
</html>
